[Maven Analytics](https://www.mavenanalytics.io/blog/maven-taxi-challenge?utm_source=email&utm_campaign=taxichallengelaunch_email_udemy)

[Dataset](https://www.mavenanalytics.io/data-playground)

<a id="section0.1"></a>
### Tabla of contents:

[Data Dictionary](#sectionA)

----

#### About the dataset

* This dataset contains 6 tables in csv format, along with a geospatial map in TopoJSON and Shapefile formats

* The 4 Taxi Trips tables contain a total of 28 million Green Taxi trips in New York City from 2017 to 2020. Each record represents one trip, with fields containing details about the pick-up/drop-off times and locations, distances, fares, passengers, and more

* The 454 Calendar table contains a fiscal calendar (2017-2020) used by the Taxi & Limousine Commission, with fields containing the date and fiscal year, quarter, month, and week

* The Taxi Zones table contains information about 265 zone locations in New York City, including the location id, borough, and service zone

* The Taxi Zones Map files contain a map of New York City with divisions for the 265 locations that can be used to create custom map visuals in Power BI (TopoJSON) or Tableau (Shapefile)

---

#### How to play the Maven Taxi Challenge
For the Maven Taxi Challenge, you’ll be playing the role of a new Data Analyst for the New York City Taxi & Limousine Commission. It's your first week on the job, and you just received the following email from the Lead Dispatcher:

##### Welcome to the team!

We’ve been collecting trip data for ~4 years now, but without a proper analyst we haven’t been able to put it to good use. That's where you come in!

The raw data has some issues, so we'll need to make the following adjustments and assumptions to clean and prep the data:
<a id="section0"></a>

+ [Let’s stick to trips that were NOT sent via “store and forward”](#section1)
+ [I’m only interested in street-hailed trips paid by card or cash, with a standard rate](#section2)
+ [We can remove any trips with dates before 2017 or after 2020, along with any trips with pickups or drop-offs into unknown zones](#section3)
+ [Let’s assume any trips with no recorded passengers had 1 passenger](#section4)
+ [If a pickup date/time is AFTER the drop-off date/time, let’s swap them](#section5)
+ [We can remove trips lasting longer than a day, and any trips which show both a distance and fare amount of 0](#section6)
+ If you notice any records where the fare, taxes, and surcharges are ALL negative, please make them positive
+ For any trips that have a fare amount but have a trip distance of 0, calculate the distance this way: (Fare amount - 2.5) / 2.5
+ For any trips that have a trip distance but have a fare amount of 0, calculate the fare amount this way: 2.5 + (trip distance x 2.5)

Once the data is cleaned up, I’m hoping you can build me a dashboard to help with weekly planning and logistics. For any given fiscal week, I'd like to be able to use historical data to answer the following questions:

+ What's the average number of trips we can expect this week?
+ What's the average fare per trip we expect to collect?
+ What's the average distance traveled per trip?
+ How do we expect trip volume to change, relative to last week?
+ Which days of the week and times of the day will be busiest?
+ What will likely be the most popular pick-up and drop-off locations?
+ I realize this is a lot to ask for, but this type of analysis will have a huge impact on our business!

Thanks in advance,

Mario Maven (Lead Dispatcher, NYC Green Taxis)

-------

For this challenge, your task is to build a dashboard that meets Mario's requirements, and share a single page screenshot for any given fiscal week.

Here’s how to submit your entry:

Share a LinkedIn post mentioning **@Maven Analytics** and the hashtag **#maventaxichallenge**, with your single page dashboard based on the challenge objective above
Complete the official challenge submission form to make sure you are entered for a chance to win
Make sure to follow Maven Analytics on LinkedIn for updates on the challenge and invite your connections to play along!

[Tabla of contents](#section0.1)
<a id="sectionA"></a>
### Data Dictionary

| Field | Description |
| --- | --- |
| VendorID | A code indicating the LPEP provider that provided the record (1= Creative Mobile Technologies, LLC; 2= Verifone Inc.) |
| lpep_pickup_datetime | The date and time when the meter was engaged 
| lpep_dropoff_datetime | The date and time when the meter was disengaged | store_and_fwd_flag | This flag indicates whether the trip record was held in vehicle memory before sending to the vendor, aka “store and forward,” because the vehicle did not have a connection to the server (Y= store and forward trip; N= not a store and forward trip) 
| RatecodeID | The final rate code in effect at the end of the trip (1= Standard rate; 2= JFK; 3= Newark; 4= Nassau or Westchester; 5= Negotiated fare; 6= Group ride) 
| PULocationID | TLC Taxi Zone in which the taximeter was engaged 
| DOLocationID | TLC Taxi Zone in which the taximeter was disengaged 
| passenger_count | The number of passengers in the vehicle (this is a driver entered value) 
| trip_distance | The elapsed trip distance in miles reported by the taximeter 
| fare_amount | The time-and-distance fare calculated by the meter 
| extra | Miscellaneous extras and surcharges (this only includes the \\$0.50 and \$1 rush hour and overnight charges) 
| mta_tax | \$0.50 MTA tax that is automatically triggered based on the metered rate in use. 
| tip_amount | Tip amount (automatically populated for credit card tips - cash tips are not included). 
| tolls_amount | Total amount of all tolls paid in trip. 
| improvement_surcharge | \$0.30 improvement surcharge assessed on hailed trips at the flag drop. 
| total_amount | The total amount charged to passengers (does not include cash tips). 
| payment_type | A numeric code signifying how the passenger paid for the trip (1= Credit card; 2= Cash; 3= No charge; 4= Dispute; 5= Unknown; 6= Voided trip) 
| trip_type | A code indicating whether the trip was a street-hail or a dispatch that is automatically assigned based on the metered rate in use but can be altered by the driver (1= Street-hail; 2= Dispatch) 
| congestion_surcharge | Congestion surcharge for trips that start, end or pass through the congestion zone in Manhattan, south of 96th street (\\$2.50 for non-shared trips in Yellow Taxis; \\$2.75 for non-shared trips in Green Taxis) |

----

In [1]:
import pandas as pd
import numpy as np

In [2]:
# importing the data

In [3]:
df = pd.read_csv("../data/taxi_trips/2017_taxi_trips.csv")

In [4]:
df_2017 = df.copy()

----

In [5]:
df_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11740667 entries, 0 to 11740666
Data columns (total 18 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   lpep_pickup_datetime   object
 2   lpep_dropoff_datetime  object
 3   store_and_fwd_flag     object
 4   RatecodeID             int64
 5   PULocationID           int64
 6   DOLocationID           int64
 7   passenger_count        int64
 8   trip_distance          float64
 9   fare_amount            float64
 10  extra                  float64
 11  mta_tax                float64
 12  tip_amount             float64
 13  tolls_amount           float64
 14  improvement_surcharge  float64
 15  total_amount           float64
 16  payment_type           int64
 17  trip_type              float64
dtypes: float64(9), int64(6), object(3)
memory usage: 1.6+ GB

[Index](#section0)

---
<a id="section1"></a>
##### Let’s stick to trips that were NOT sent via “store and forward”

In [6]:
df_2017.store_and_fwd_flag.value_counts()

N    11723594
Y       17073
Name: store_and_fwd_flag, dtype: int64

In [7]:
mask = df_2017.store_and_fwd_flag == "N"
df_2017 = df_2017[mask]
print(f"I sould get just N and a number: \n{df_2017.store_and_fwd_flag.value_counts()}")

I sould get just N and a number:
N    11723594
Name: store_and_fwd_flag, dtype: int64

[Index](#section0)

---
<a id="section2"></a>
##### I’m only interested in street-hailed trips paid by card or cash, with a standard rate

In [8]:
print(df_2017.payment_type.value_counts())
print(df_2017.trip_type.value_counts())
print(df_2017.payment_type.unique())
print(df_2017.trip_type.unique())

1    5907741
2    5731265
3      54057
4      29998
5        533
Name: payment_type, dtype: int64
1.0    11507963
2.0      215630
Name: trip_type, dtype: int64
[2 1 3 4 5]
[ 1.  2. nan]

In [9]:
# street-hailed trips
df_2017 = df_2017[df_2017["trip_type"] == 1]
# with a standard rate
df_2017 = df_2017[df_2017["RatecodeID"] == 1]
mask1 = df_2017.payment_type == 1  
mask2 = df_2017.payment_type == 2
df_2017 = df_2017[mask1 | mask2]

In [10]:
print(f"I sould get just the number 1 and 2 are the values of them: \n{df_2017.payment_type.value_counts()}")
print("--------------------------------------------")
print(f"I sould get just the number 1 and a value: \n{df_2017.trip_type.value_counts()}")

I sould get just the number 1 and 2 are the values of them:
1    5797124
2    5586535
Name: payment_type, dtype: int64
--------------------------------------------
I sould get just the number 1 and a value:
1.0    11383659
Name: trip_type, dtype: int64

[Index](#section0)

---
<a id="section3"></a>
##### We can remove any trips with dates before 2017 or after 2020, along with any trips with pickups or drop-offs into unknown zones

In [11]:
mask1 = df_2017["lpep_pickup_datetime"] >= '2017-01-01 00:00:00.000' 
mask2 = df_2017["lpep_pickup_datetime"] < '2021-01-01 00:00:00.000'
df_2017 = df_2017[mask1 & mask2]

In [12]:
df_2017["lpep_pickup_datetime"].min()

'2017-01-01 00:00:08.000'

In [13]:
df_2017["lpep_pickup_datetime"].max()

'2018-03-26 16:00:22.000'

In [14]:
df_2017["lpep_dropoff_datetime"].min()

'2017-01-01 00:03:16.000'

In [15]:
df_2017["lpep_dropoff_datetime"].max()

'2018-03-26 16:09:20.000'

In [16]:
df_2017.shape

(11383592, 18)

[Index](#section0)

---
<a id="section4"></a>
##### Let’s assume any trips with no recorded passengers had 1 passenger

In [17]:
# df_2017 = pd.read_csv("../data/taxi_trips/2017_taxi_trips.csv")

In [18]:
df_2017.passenger_count.unique()

array([1, 2, 5, 6, 3, 4, 0, 9])

In [19]:
df_2017.passenger_count.value_counts()

1    9594517
2     899499
5     410667
3     209514
6     202167
4      67101
0        124
9          3
Name: passenger_count, dtype: int64

In [20]:
df_2017["passenger_count"]=  df_2017["passenger_count"].replace(0, 1)

In [21]:
print(f"I souldnt get a 0: \n \n{df_2017.passenger_count.value_counts()}")

I souldnt get a 0:

1    9594641
2     899499
5     410667
3     209514
6     202167
4      67101
9          3
Name: passenger_count, dtype: int64

[Index](#section0)

---
<a id="section5"></a>
##### If a pickup date/time is AFTER the drop-off date/time, let’s swap them

In [22]:
# df_2017 = pd.read_csv("../data/taxi_trips/2017_taxi_trips.csv")

In [23]:
# df_2017

In [24]:
mask1 = df_2017["lpep_pickup_datetime"] <= df_2017["lpep_dropoff_datetime"] 
mask2 = df_2017["lpep_pickup_datetime"] > df_2017["lpep_dropoff_datetime"]
df_goog = df_2017[mask1]
df_to_swap = df_2017[mask2]

In [25]:
df_to_swap.columns

Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'improvement_surcharge', 'total_amount',
       'payment_type', 'trip_type'],
      dtype='object')

In [26]:
df_to_swap.columns = ['VendorID', 'lpep_dropoff_datetime', 'lpep_pickup_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'improvement_surcharge', 'total_amount',
       'payment_type', 'trip_type']
df_to_swap

,VendorID,lpep_dropoff_datetime,lpep_pickup_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,payment_type,trip_type
9492732,1,2017-12-10 15:15:00.000,2017-12-08 23:18:55.000,N,1,82,260,1,1.2,6.0,0.0,0.5,2.00,0.00,0.3,8.80,1,1.0
10947353,1,2017-11-05 01:55:29.000,2017-11-05 01:15:26.000,N,1,255,232,1,4.4,18.0,0.5,0.5,0.00,0.00,0.3,19.30,1,1.0
10947355,1,2017-11-05 01:56:58.000,2017-11-05 01:07:16.000,N,1,145,83,1,3.2,12.0,0.5,0.5,0.00,0.00,0.3,13.30,1,1.0
10971621,1,2017-11-05 01:53:12.000,2017-11-05 01:24:42.000,N,1,255,124,1,11.0,34.0,0.5,0.5,0.00,0.00,0.3,35.30,2,1.0
10972524,1,2017-11-05 01:49:48.000,2017-11-05 01:17:03.000,N,1,255,50,1,9.9,30.5,0.5,0.5,0.00,0.00,0.3,31.80,2,1.0
10983584,1,2017-11-05 01:45:32.000,2017-11-05 01:06:40.000,N,1,188,77,1,5.0,18.0,0.5,0.5,0.00,0.00,0.3,19.30,2,1.0
10995168,1,2017-11-05 01:42:54.000,2017-11-05 01:00:18.000,N,1,25,225,1,3.6,14.5,0.5,0.5,0.00,0.00,0.3,15.80,2,1.0
11000518,1,2017-11-05 01:49:04.000,2017-11-05 01:03:24.000,N,1,181,89,1,3.1,13.0,0.5,0.5,0.00,0.00,0.3,14.30,2,1.0
11000521,1,2017-11-05 01:55:45.000,2017-11-05 01:11:24.000,N,1,255,36,1,3.0,13.0,0.5,0.5,0.00,0.00,0.3,14.30,2,1.0
11002770,1,2017-11-05 01:48:48.000,2017-11-05 01:03:35.000,N,1,256,189,1,3.2,12.5,0.5,0.5,0.00,0.00,0.3,13.80,2,1.0
11002772,1,2017-11-05 01:50:12.000,2017-11-05 01:04:48.000,N,1,255,198,1,2.7,12.5,0.5,0.5,0.00,0.00,0.3,13.80,2,1.0
11010366,1,2017-11-05 01:57:04.000,2017-11-05 01:08:02.000,N,1,188,61,1,3.1,11.5,0.5,0.5,0.00,0.00,0.3,12.80,2,1.0
11013196,1,2017-11-05 01:57:28.000,2017-11-05 01:11:35.000,N,1,255,256,1,2.1,11.0,0.5,0.5,0.00,0.00,0.3,12.30,2,1.0
11013199,1,2017-11-05 01:57:08.000,2017-11-05 01:08:54.000,N,1,256,49,1,2.9,11.0,0.5,0.5,0.00,0.00,0.3,12.30,2,1.0
11013463,1,2017-11-05 01:59:14.000,2017-11-05 01:11:04.000,N,1,97,225,1,2.5,11.0,0.5,0.5,0.00,0.00,0.3,12.30,2,1.0
11036383,1,2017-11-05 01:53:32.000,2017-11-05 01:04:09.000,N,1,82,7,1,1.9,9.0,0.5,0.5,0.00,0.00,0.3,10.30,2,1.0
11047736,1,2017-11-05 01:58:29.000,2017-11-05 01:01:35.000,N,1,42,42,1,0.5,4.5,0.5,0.5,0.00,0.00,0.3,5.80,2,1.0
11062467,1,2017-11-05 01:54:01.000,2017-11-05 01:02:33.000,N,1,49,225,1,1.7,7.5,0.5,0.5,0.00,0.00,0.3,8.80,2,1.0
11062468,1,2017-11-05 01:58:39.000,2017-11-05 01:04:58.000,N,1,106,228,1,1.7,7.5,0.5,0.5,0.00,0.00,0.3,8.80,2,1.0
11091820,1,2017-11-05 01:56:45.000,2017-11-05 01:02:31.000,N,1,74,74,1,1.0,6.0,0.5,0.5,0.00,0.00,0.3,7.30,2,1.0
11249461,1,2017-11-05 01:52:20.000,2017-11-05 01:10:17.000,N,1,127,42,2,4.7,17.5,0.5,0.5,0.00,0.00,0.3,18.80,2,1.0
11251664,1,2017-11-05 01:43:01.000,2017-11-05 01:02:44.000,N,1,74,74,2,3.4,16.0,0.5,0.5,0.00,0.00,0.3,17.30,2,1.0
11255232,1,2017-11-05 01:53:44.000,2017-11-05 01:04:37.000,N,1,61,72,2,2.1,9.5,0.5,0.5,0.00,0.00,0.3,10.80,2,1.0
11259929,1,2017-11-05 01:55:02.000,2017-11-05 01:02:51.000,N,1,255,256,2,0.9,6.5,0.5,0.5,0.00,0.00,0.3,7.80,2,1.0
11336943,1,2017-11-05 01:55:27.000,2017-11-05 01:33:03.000,N,1,61,24,2,13.3,41.0,0.5,0.5,5.00,0.00,0.3,47.30,1,1.0
11337706,1,2017-11-05 01:46:25.000,2017-11-05 01:02:33.000,N,1,112,17,2,3.1,13.0,0.5,0.5,2.85,0.00,0.3,17.15,1,1.0
11337707,1,2017-11-05 01:50:05.000,2017-11-05 01:07:00.000,N,1,112,37,2,2.8,13.0,0.5,0.5,2.85,0.00,0.3,17.15,1,1.0
11337832,1,2017-11-05 01:49:41.000,2017-11-05 01:05:17.000,N,1,33,79,2,3.7,15.0,0.5,0.5,3.25,0.00,0.3,19.55,1,1.0
11338221,1,2017-11-05 01:58:10.000,2017-11-05 01:36:07.000,N,1,256,166,2,12.5,40.0,0.5,0.5,7.50,0.00,0.3,48.80,1,1.0
11434682,1,2017-11-05 01:34:52.000,2017-11-05 01:02:58.000,N,1,106,7,1,13.1,38.0,0.5,0.5,7.85,0.00,0.3,47.15,1,1.0
11434691,1,2017-11-05 01:52:59.000,2017-11-05 01:35:34.000,N,1,36,170,1,8.2,32.0,0.5,0.5,4.00,0.00,0.3,37.30,1,1.0
11434693,1,2017-11-05 01:31:03.000,2017-11-05 01:09:35.000,N,1,42,65,1,11.3,37.0,0.5,0.5,7.65,0.00,0.3,45.95,1,1.0
11435237,1,2017-11-05 01:48:43.000,2017-11-05 01:04:17.000,N,1,80,133,1,8.6,24.5,0.5,0.5,5.15,0.00,0.3,30.95,1,1.0
11435490,1,2017-11-05 01:51:03.000,2017-11-05 01:07:41.000,N,1,112,13,1,7.4,23.0,0.5,0.5,4.85,0.00,0.3,29.15,1,1.0
11436190,1,2017-11-05 01:48:41.000,2017-11-05 01:14:54.000,N,1,36,181,1,5.1,20.5,0.5,0.5,3.20,0.00,0.3,25.00,1,1.0
11437948,1,2017-11-05 01:51:26.000,2017-11-05 01:06:12.000,N,1,256,33,1,4.5,15.5,0.5,0.5,3.35,0.00,0.3,20.15,1,1.0
11438212,1,2017-11-05 01:23:31.000,2017-11-05 01:07:51.000,N,1,181,130,1,13.0,41.5,0.5,0.5,8.55,0.00,0.3,51.35,1,1.0
11440093,1,2017-11-05 01:51:39.000,2017-11-05 01:06:18.000,N,1,256,189,1,3.5,13.5,0.5,0.5,2.95,0.00,0.3,17.75,1,1.0
11440481,1,2017-11-05 01:57:37.000,2017-11-05 01:14:13.000,N,1,74,151,1,2.5,12.5,0.5,0.5,2.75,0.00,0.3,16.55,1,1.0
11443971,1,2017-11-05 01:46:02.000,2017-11-05 01:06:05.000,N,1,198,255,1,2.9,10.0,0.5,0.5,5.00,0.00,0.3,16.30,1,1.0
11447537,1,2017-11-05 01:55:47.000,2017-11-05 01:03:03.000,N,1,223,7,1,1.6,7.5,0.5,0.5,1.75,0.00,0.3,10.55,1,1.0
11447836,1,2017-11-05 01:58:03.000,2017-11-05 01:03:33.000,N,1,260,83,1,0.8,5.5,0.5,0.5,1.35,0.00,0.3,8.15,1,1.0
11449728,1,2017-11-05 01:57:31.000,2017-11-05 01:04:39.000,N,1,82,173,1,1.1,6.5,0.5,0.5,2.30,0.00,0.3,10.10,1,1.0
11547035,1,2017-11-05 01:25:58.000,2017-11-05 01:01:26.000,N,1,255,186,1,5.7,25.0,0.5,0.5,5.25,0.00,0.3,31.55,1,1.0
11547040,1,2017-11-05 01:50:29.000,2017-11-05 01:09:52.000,N,1,255,198,1,3.4,14.5,0.5,0.5,3.15,0.00,0.3,18.95,1,1.0
11547042,1,2017-11-05 01:57:17.000,2017-11-05 01:15:51.000,N,1,255,97,1,4.4,17.0,0.5,0.5,3.65,0.00,0.3,21.95,1,1.0
11547051,1,2017-11-05 01:54:02.000,2017-11-05 01:22:38.000,N,1,255,170,1,6.1,24.0,0.5,0.5,5.05,0.00,0.3,30.35,1,1.0
11547053,1,2017-11-05 01:37:20.000,2017-11-05 01:26:21.000,N,1,255,230,1,6.6,32.5,0.5,0.5,4.00,0.00,0.3,37.80,1,1.0
11738262,1,2017-11-05 01:47:02.000,2017-11-05 01:13:04.000,N,1,41,220,2,7.6,26.0,0.5,0.5,8.95,2.64,0.3,38.89,1,1.0

columnas = ['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'improvement_surcharge', 'total_amount',
       'payment_type', 'trip_type', 'congestion_surcharge']

df_to_swap = df_to_swap[columnas]

In [27]:
df1 = pd.concat([df_goog, df_to_swap], ignore_index = False)
df1.shape

(11383592, 18)

In [28]:
mask1 = df1["lpep_pickup_datetime"] > df1["lpep_dropoff_datetime"]
df1[mask1]

Empty DataFrame
Columns: [VendorID, lpep_pickup_datetime, lpep_dropoff_datetime, store_and_fwd_flag, RatecodeID, PULocationID, DOLocationID, passenger_count, trip_distance, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, payment_type, trip_type]
Index: []

In [29]:
df1[mask1].shape

(0, 18)

In [30]:
df_2017.shape

(11383592, 18)

In [31]:
df1.shape[0]

11383592

In [32]:
df_2017.shape[0] - df1.shape[0]

0

In [33]:
df_goog.shape[0]  + df_to_swap.shape[0]

11383592

[Index](#section0)

---
<a id="section6"></a>
##### We can remove trips lasting longer than a day, and any trips which show both a distance and fare amount of 0

In [34]:
df_2017 = df1

In [35]:
# df_2017 = pd.read_csv("../data/taxi_trips/2017_taxi_trips.csv")

In [36]:
# mask1 = (df_2017["trip_distance"] == 0) & (df_2017["fare_amount"] == 0)
mask2 = df_2017["trip_distance"] == 0
mask3 = df_2017["fare_amount"] == 0
df_2017[mask2].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 71411 entries, 2949 to 11740384
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               71411 non-null  int64
 1   lpep_pickup_datetime   71411 non-null  object
 2   lpep_dropoff_datetime  71411 non-null  object
 3   store_and_fwd_flag     71411 non-null  object
 4   RatecodeID             71411 non-null  int64
 5   PULocationID           71411 non-null  int64
 6   DOLocationID           71411 non-null  int64
 7   passenger_count        71411 non-null  int64
 8   trip_distance          71411 non-null  float64
 9   fare_amount            71411 non-null  float64
 10  extra                  71411 non-null  float64
 11  mta_tax                71411 non-null  float64
 12  tip_amount             71411 non-null  float64
 13  tolls_amount           71411 non-null  float64
 14  improvement_surcharge  71411 non-null  float64
 15  total_amount           71411 non-null  float64
 16  payment_type           71411 non-null  int64
 17  trip_type              71411 non-null  float64
dtypes: float64(9), int64(6), object(3)
memory usage: 10.4+ MB

In [37]:
mask = (df_2017["trip_distance"] != 0) | (df_2017["fare_amount"] != 0)
mask5 = df_2017["trip_distance"] != 0
mask6 = df_2017["fare_amount"] != 0
df_2017 = df_2017[mask]

In [38]:
# total - df_2017[df_2017["trip_distance"] != 0] = df_2017[df_2017["trip_distance"] == 0].sum()
11740667 - 11604924

135743

In [39]:
# total - df_2017[df_2017["fare_amount"] != 0].sum = df_2017[df_2017["fare_amount"] == 0].sum()
11740667 - 11714665

26002

In [40]:
# total - df_2017[mask6 & mask5] = 
11740667 - 11584281

156386

In [41]:
# df_2017[mask2] + df_2017[mask3]
135743 + 26002

161745

In [42]:
# (df_2017[mask2] + df_2017[mask3]) - (total - df_2017[mask6 & mask5]) = df_2017[mask2 & mask3].
161745 - 156386

5359

In [43]:
11740667 - 11735308

5359

In [44]:
df_2017["lpep_pickup_datetime"] = df_2017["lpep_pickup_datetime"].astype('datetime64[ns]')

<ipython-input-44-5df3461b8060>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2017["lpep_pickup_datetime"] = df_2017["lpep_pickup_datetime"].astype('datetime64[ns]')

In [45]:
df_2017["lpep_dropoff_datetime"] = df_2017["lpep_dropoff_datetime"].astype('datetime64[ns]')

<ipython-input-45-b5cd840414c5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2017["lpep_dropoff_datetime"] = df_2017["lpep_dropoff_datetime"].astype('datetime64[ns]')

In [46]:
df_2017.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11379281 entries, 0 to 11738262
Data columns (total 18 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   lpep_pickup_datetime   datetime64[ns]
 2   lpep_dropoff_datetime  datetime64[ns]
 3   store_and_fwd_flag     object
 4   RatecodeID             int64
 5   PULocationID           int64
 6   DOLocationID           int64
 7   passenger_count        int64
 8   trip_distance          float64
 9   fare_amount            float64
 10  extra                  float64
 11  mta_tax                float64
 12  tip_amount             float64
 13  tolls_amount           float64
 14  improvement_surcharge  float64
 15  total_amount           float64
 16  payment_type           int64
 17  trip_type              float64
dtypes: datetime64[ns](2), float64(9), int64(6), object(1)
memory usage: 1.6+ GB

In [47]:
df_2017["day_number_pickup"] = df_2017["lpep_pickup_datetime"].dt.day
df_2017["day_number_dropoff"] = df_2017["lpep_dropoff_datetime"].dt.day
mask1 = df_2017["day_number_pickup"] == df_2017["day_number_dropoff"]
# mask2 = df_2017["day_number_pickup"] != df_2017["day_number_dropoff"]
df_2017 = df_2017[mask1]
df_2017 = df_2017.drop(labels = ["day_number_pickup", "day_number_dropoff"], axis = "columns")
df_2017

<ipython-input-47-e4142c0a7a8c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2017["day_number_pickup"] = df_2017["lpep_pickup_datetime"].dt.day
<ipython-input-47-e4142c0a7a8c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2017["day_number_dropoff"] = df_2017["lpep_dropoff_datetime"].dt.day

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,payment_type,trip_type
0,1,2017-01-01 09:00:01,2017-01-01 09:03:56,N,1,74,41,1,0.7,5.0,0.0,0.5,0.00,0.00,0.3,5.80,2,1.0
1,1,2017-01-01 18:57:55,2017-01-01 19:01:16,N,1,42,41,1,0.7,5.0,0.0,0.5,0.00,0.00,0.3,5.80,2,1.0
2,2,2017-01-02 06:55:47,2017-01-02 06:58:54,N,1,42,41,1,0.7,5.0,0.0,0.5,0.00,0.00,0.3,5.80,2,1.0
3,2,2017-01-02 14:34:17,2017-01-02 14:39:29,N,1,74,41,1,0.7,5.0,0.0,0.5,0.00,0.00,0.3,5.80,2,1.0
4,1,2017-01-03 06:12:30,2017-01-03 06:15:56,N,1,42,41,1,0.7,5.0,0.0,0.5,0.00,0.00,0.3,5.80,2,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11547040,1,2017-11-05 01:09:52,2017-11-05 01:50:29,N,1,255,198,1,3.4,14.5,0.5,0.5,3.15,0.00,0.3,18.95,1,1.0
11547042,1,2017-11-05 01:15:51,2017-11-05 01:57:17,N,1,255,97,1,4.4,17.0,0.5,0.5,3.65,0.00,0.3,21.95,1,1.0
11547051,1,2017-11-05 01:22:38,2017-11-05 01:54:02,N,1,255,170,1,6.1,24.0,0.5,0.5,5.05,0.00,0.3,30.35,1,1.0
11547053,1,2017-11-05 01:26:21,2017-11-05 01:37:20,N,1,255,230,1,6.6,32.5,0.5,0.5,4.00,0.00,0.3,37.80,1,1.0
11738262,1,2017-11-05 01:13:04,2017-11-05 01:47:02,N,1,41,220,2,7.6,26.0,0.5,0.5,8.95,2.64,0.3,38.89,1,1.0

[Index](#section0)

---
<a id="section7"></a>
##### If you notice any records where the fare, taxes, and surcharges are ALL negative, please make them positive

In [48]:
df_2017_pre = df_2017.loc[(df_2017["fare_amount"] < 0) & (df_2017["mta_tax"] < 0) & (df_2017["improvement_surcharge"] < 0)]
df_2017_pre

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,payment_type,trip_type
489164,2,2017-01-04 15:46:28,2017-01-04 15:47:09,N,1,65,65,1,0.06,-2.5,0.0,-0.5,0.0,0.0,-0.3,-3.3,2,1.0
489187,2,2017-01-17 14:19:57,2017-01-17 14:20:01,N,1,42,42,1,0.01,-2.5,0.0,-0.5,0.0,0.0,-0.3,-3.3,2,1.0
489208,2,2017-01-01 02:34:54,2017-01-01 02:35:51,N,1,147,147,1,0.06,-2.5,-0.5,-0.5,0.0,0.0,-0.3,-3.8,2,1.0
489214,2,2017-01-04 05:34:32,2017-01-04 05:34:47,N,1,116,116,1,0.12,-2.5,-0.5,-0.5,0.0,0.0,-0.3,-3.8,2,1.0
489215,2,2017-01-04 20:56:30,2017-01-04 20:57:18,N,1,82,82,1,0.06,-2.5,-0.5,-0.5,0.0,0.0,-0.3,-3.8,2,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11264206,2,2017-10-16 10:46:32,2017-10-16 10:49:18,N,1,41,74,2,0.37,-4.0,0.0,-0.5,0.0,0.0,-0.3,-4.8,2,1.0
11264210,2,2017-10-18 12:27:30,2017-10-18 12:28:04,N,1,75,75,2,0.05,-2.5,0.0,-0.5,0.0,0.0,-0.3,-3.3,2,1.0
11264243,2,2017-10-26 14:24:45,2017-10-26 14:24:58,N,1,75,75,4,0.08,-2.5,0.0,-0.5,0.0,0.0,-0.3,-3.3,2,1.0
11264254,2,2017-11-01 13:10:31,2017-11-01 13:17:12,N,1,65,33,2,0.80,-6.0,0.0,-0.5,0.0,0.0,-0.3,-6.8,2,1.0
11264266,2,2017-11-05 13:26:45,2017-11-05 13:28:05,N,1,74,74,3,0.29,-3.0,0.0,-0.5,0.0,0.0,-0.3,-3.8,2,1.0

In [49]:
def convert_to_positiv(number):
    if number < 0:
        return number * -1
    else:
        return number

In [50]:
columns = ['fare_amount', 'extra', 'mta_tax','tip_amount', 'tolls_amount', 'improvement_surcharge', 'total_amount']
for col in columns:
    df_2017_pre[col] = df_2017_pre[col].apply(convert_to_positiv)
df_2017_pre

<ipython-input-50-4e1a948fb209>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2017_pre[col] = df_2017_pre[col].apply(convert_to_positiv)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,payment_type,trip_type
489164,2,2017-01-04 15:46:28,2017-01-04 15:47:09,N,1,65,65,1,0.06,2.5,0.0,0.5,0.0,0.0,0.3,3.3,2,1.0
489187,2,2017-01-17 14:19:57,2017-01-17 14:20:01,N,1,42,42,1,0.01,2.5,0.0,0.5,0.0,0.0,0.3,3.3,2,1.0
489208,2,2017-01-01 02:34:54,2017-01-01 02:35:51,N,1,147,147,1,0.06,2.5,0.5,0.5,0.0,0.0,0.3,3.8,2,1.0
489214,2,2017-01-04 05:34:32,2017-01-04 05:34:47,N,1,116,116,1,0.12,2.5,0.5,0.5,0.0,0.0,0.3,3.8,2,1.0
489215,2,2017-01-04 20:56:30,2017-01-04 20:57:18,N,1,82,82,1,0.06,2.5,0.5,0.5,0.0,0.0,0.3,3.8,2,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11264206,2,2017-10-16 10:46:32,2017-10-16 10:49:18,N,1,41,74,2,0.37,4.0,0.0,0.5,0.0,0.0,0.3,4.8,2,1.0
11264210,2,2017-10-18 12:27:30,2017-10-18 12:28:04,N,1,75,75,2,0.05,2.5,0.0,0.5,0.0,0.0,0.3,3.3,2,1.0
11264243,2,2017-10-26 14:24:45,2017-10-26 14:24:58,N,1,75,75,4,0.08,2.5,0.0,0.5,0.0,0.0,0.3,3.3,2,1.0
11264254,2,2017-11-01 13:10:31,2017-11-01 13:17:12,N,1,65,33,2,0.80,6.0,0.0,0.5,0.0,0.0,0.3,6.8,2,1.0
11264266,2,2017-11-05 13:26:45,2017-11-05 13:28:05,N,1,74,74,3,0.29,3.0,0.0,0.5,0.0,0.0,0.3,3.8,2,1.0

In [51]:
index = df_2017_pre.index
index

Int64Index([  489164,   489187,   489208,   489214,   489215,   489222,
              489224,   489227,   489243,   489335,
            ...
            11189690, 11189706, 11189724, 11236039, 11236040, 11264206,
            11264210, 11264243, 11264254, 11264266],
           dtype='int64', length=485)

In [52]:
df_2017.drop(index=index, axis= 0, inplace=True)

In [53]:
df_2017 = pd.concat([df_2017, df_2017_pre], axis=0)

In [54]:
df_2017

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,payment_type,trip_type
0,1,2017-01-01 09:00:01,2017-01-01 09:03:56,N,1,74,41,1,0.70,5.0,0.0,0.5,0.0,0.0,0.3,5.8,2,1.0
1,1,2017-01-01 18:57:55,2017-01-01 19:01:16,N,1,42,41,1,0.70,5.0,0.0,0.5,0.0,0.0,0.3,5.8,2,1.0
2,2,2017-01-02 06:55:47,2017-01-02 06:58:54,N,1,42,41,1,0.70,5.0,0.0,0.5,0.0,0.0,0.3,5.8,2,1.0
3,2,2017-01-02 14:34:17,2017-01-02 14:39:29,N,1,74,41,1,0.70,5.0,0.0,0.5,0.0,0.0,0.3,5.8,2,1.0
4,1,2017-01-03 06:12:30,2017-01-03 06:15:56,N,1,42,41,1,0.70,5.0,0.0,0.5,0.0,0.0,0.3,5.8,2,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11264206,2,2017-10-16 10:46:32,2017-10-16 10:49:18,N,1,41,74,2,0.37,4.0,0.0,0.5,0.0,0.0,0.3,4.8,2,1.0
11264210,2,2017-10-18 12:27:30,2017-10-18 12:28:04,N,1,75,75,2,0.05,2.5,0.0,0.5,0.0,0.0,0.3,3.3,2,1.0
11264243,2,2017-10-26 14:24:45,2017-10-26 14:24:58,N,1,75,75,4,0.08,2.5,0.0,0.5,0.0,0.0,0.3,3.3,2,1.0
11264254,2,2017-11-01 13:10:31,2017-11-01 13:17:12,N,1,65,33,2,0.80,6.0,0.0,0.5,0.0,0.0,0.3,6.8,2,1.0
11264266,2,2017-11-05 13:26:45,2017-11-05 13:28:05,N,1,74,74,3,0.29,3.0,0.0,0.5,0.0,0.0,0.3,3.8,2,1.0

[Index](#section0)

---
<a id="section9"></a>
#####  For any trips that have a trip distance but have a fare amount of 0, calculate the fare amount this way: 2.5 + (trip distance x 2.5)

In [55]:
mask = df_2017.fare_amount == 0
mask1 = df_2017.trip_distance == 0
mask2 = df_2017.fare_amount != 0
mask3 = df_2017.trip_distance != 0
df_fare_amount = df_2017[mask]
df_trip_distance = df_2017[mask1]
df_3 = df_2017[mask2 & mask3]

In [56]:
def funcion_fare_amount(i):
    total = 2.5 + (i * 2.5)
    return total

In [57]:
df_fare_amount.fare_amount = df_fare_amount.trip_distance.apply(funcion_fare_amount)

/Users/kilo/opt/anaconda3/envs/excondables/lib/python3.9/site-packages/pandas/core/generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [58]:
df_fare_amount

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,payment_type,trip_type
490516,1,2017-01-03 18:26:58,2017-01-03 18:32:31,N,1,166,42,1,0.50,3.750,0.0,0.0,0.0,0.00,0.0,0.0,1,1.0
490519,1,2017-01-04 15:47:39,2017-01-04 16:00:44,N,1,97,17,1,1.70,6.750,0.0,0.0,0.0,0.00,0.0,0.0,1,1.0
490523,2,2017-01-06 09:57:47,2017-01-06 09:59:02,N,1,7,193,1,0.01,2.525,0.0,0.0,0.0,0.00,0.0,0.0,1,1.0
490524,1,2017-01-08 16:13:17,2017-01-08 16:49:35,N,1,25,54,1,4.80,14.500,0.0,0.0,0.0,0.00,0.0,0.0,1,1.0
490526,1,2017-01-09 09:56:04,2017-01-09 09:57:15,N,1,116,116,1,0.20,3.000,0.0,0.0,0.0,0.00,0.0,0.0,1,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11264257,2,2017-11-02 23:17:54,2017-11-02 23:23:45,N,1,25,181,2,0.88,4.700,0.0,0.0,0.0,0.00,0.0,0.0,2,1.0
11264263,2,2017-11-04 17:37:16,2017-11-04 18:19:52,N,1,65,56,2,13.07,35.175,0.0,0.0,0.0,0.00,0.0,0.0,2,1.0
11264297,2,2017-11-17 22:05:08,2017-11-17 22:17:44,N,1,256,198,3,2.77,9.425,0.0,0.0,0.0,0.00,0.0,0.0,2,1.0
11724762,2,2017-10-21 04:02:23,2017-10-21 04:32:18,N,1,80,200,1,18.42,48.550,0.0,0.0,0.0,5.76,0.0,0.0,2,1.0
11724764,2,2017-11-06 00:04:00,2017-11-06 00:54:50,N,1,61,213,1,17.41,46.025,0.0,0.0,0.0,5.76,0.0,0.0,2,1.0

[Index](#section0)

---
<a id="section"></a>
##### For any trips that have a fare amount but have a trip distance of 0, calculate the distance this way: (Fare amount - 2.5) / 2.5

In [59]:
def funcion_trip_distance(i):
    total = (i - 2.5) / 2.5
    return total

In [60]:
df_trip_distance.trip_distance = df_trip_distance.fare_amount.apply(funcion_trip_distance)

/Users/kilo/opt/anaconda3/envs/excondables/lib/python3.9/site-packages/pandas/core/generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [61]:
df_trip_distance

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,payment_type,trip_type
2949,1,2017-01-10 10:47:57,2017-01-10 10:47:57,N,1,116,264,1,1.0,5.0,0.0,0.5,0.0,0.0,0.3,5.8,2,1.0
2964,1,2017-01-13 13:22:03,2017-01-13 13:27:09,N,1,145,145,1,1.0,5.0,0.0,0.5,0.0,0.0,0.3,5.8,2,1.0
2965,1,2017-01-14 13:51:27,2017-01-14 13:56:31,N,1,145,145,1,1.0,5.0,0.0,0.5,0.0,0.0,0.3,5.8,2,1.0
2973,1,2017-01-15 19:28:38,2017-01-15 19:33:57,N,1,17,17,1,1.0,5.0,0.0,0.5,0.0,0.0,0.3,5.8,2,1.0
2976,1,2017-01-17 07:56:17,2017-01-17 07:56:17,N,1,260,264,1,1.0,5.0,0.0,0.5,0.0,0.0,0.3,5.8,2,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11189410,2,2017-11-13 01:06:18,2017-11-13 01:06:22,N,1,92,92,1,0.0,2.5,0.5,0.5,0.0,0.0,0.3,3.8,2,1.0
11189677,2,2017-10-17 18:31:37,2017-10-17 18:31:48,N,1,7,7,1,0.0,2.5,1.0,0.5,0.0,0.0,0.3,4.3,2,1.0
11189690,2,2017-10-27 17:49:16,2017-10-27 17:49:31,N,1,92,92,1,0.0,2.5,1.0,0.5,0.0,0.0,0.3,4.3,2,1.0
11189706,2,2017-11-08 16:19:48,2017-11-08 16:19:57,N,1,75,75,1,0.0,2.5,1.0,0.5,0.0,0.0,0.3,4.3,2,1.0
11189724,2,2017-11-15 18:25:24,2017-11-15 18:25:30,N,1,134,134,1,0.0,2.5,1.0,0.5,0.0,0.0,0.3,4.3,2,1.0

In [62]:
df_2017_new = pd.concat([df_fare_amount, df_trip_distance, df_3], axis =0)

In [63]:
df_2017_new

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,payment_type,trip_type
490516,1,2017-01-03 18:26:58,2017-01-03 18:32:31,N,1,166,42,1,0.50,3.750,0.0,0.0,0.0,0.0,0.0,0.0,1,1.0
490519,1,2017-01-04 15:47:39,2017-01-04 16:00:44,N,1,97,17,1,1.70,6.750,0.0,0.0,0.0,0.0,0.0,0.0,1,1.0
490523,2,2017-01-06 09:57:47,2017-01-06 09:59:02,N,1,7,193,1,0.01,2.525,0.0,0.0,0.0,0.0,0.0,0.0,1,1.0
490524,1,2017-01-08 16:13:17,2017-01-08 16:49:35,N,1,25,54,1,4.80,14.500,0.0,0.0,0.0,0.0,0.0,0.0,1,1.0
490526,1,2017-01-09 09:56:04,2017-01-09 09:57:15,N,1,116,116,1,0.20,3.000,0.0,0.0,0.0,0.0,0.0,0.0,1,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11264206,2,2017-10-16 10:46:32,2017-10-16 10:49:18,N,1,41,74,2,0.37,4.000,0.0,0.5,0.0,0.0,0.3,4.8,2,1.0
11264210,2,2017-10-18 12:27:30,2017-10-18 12:28:04,N,1,75,75,2,0.05,2.500,0.0,0.5,0.0,0.0,0.3,3.3,2,1.0
11264243,2,2017-10-26 14:24:45,2017-10-26 14:24:58,N,1,75,75,4,0.08,2.500,0.0,0.5,0.0,0.0,0.3,3.3,2,1.0
11264254,2,2017-11-01 13:10:31,2017-11-01 13:17:12,N,1,65,33,2,0.80,6.000,0.0,0.5,0.0,0.0,0.3,6.8,2,1.0
11264266,2,2017-11-05 13:26:45,2017-11-05 13:28:05,N,1,74,74,3,0.29,3.000,0.0,0.5,0.0,0.0,0.3,3.8,2,1.0